body {
    background-attachment: fixed;
    /* background: #e6ddd3; */
    background: #ecdcbf;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100vw;
    height: 100vh;
    margin: 0;
}
.header {
    height: 80px;
    width: 100vw;
    /* background-color: #bc6e6e; */
    background-color: #dd5353;
    z-index: 1;
    position: sticky;
    z-index: 100;
    top: 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
/* .bgtypething {
    height: 730px;
    width: 700px;
    background-color: #f1ebe5;
    position: absolute;
    left: 10px;
    top: 70px;
    z-index: 1;
} */
.logo {
    /* padding: 5px; */
    position: fixed;
    height: 75px;
    width: 75px;
    z-index: 101;
    top: 0px;
    left: 0px;
    
}


.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.bigname{
    order: 1;
    padding: 10px;

    text-align: center;
    font-family:'Times New Roman', Times, serif;
    /* position: absolute; */
    white-space: normal;
    font-size: 12vw; /* 100px */
    /* left: 720px;
    right: 10px;
    top: 70px; */
    color: rgb(144, 131, 110); /* rgb(144, 131, 110) */
    margin: auto;
}

.bigtext{
    /* margin-top: 10px; */
    order: 2;
    padding: 10px;

    text-align: center;
    font-family:'Times New Roman', Times, serif;
    /* position: absolute; */
    white-space: normal;
    font-size: 7vh; /* 50px*/
    /* left: 720px;
    right: 10px;
    top: 70px; */
    color: rgb(144, 131, 110);
    margin: auto; 
}

.nextissue{
    order: 3;
    padding: 10px;
    margin-top: 10px;

    height: fit-content;
    width: 95vw;
    /* background-color: #f1ebe5; */
    background-color: #f8f2de;
    font-size: 22px;
    text-align: center;
    color:rgb(144, 131, 110);

    white-space: normal;
    /* margin: auto; */
}

.blurb{
    margin-top: 10px;
    order: 4;
    padding: 10px;

    height: fit-content;
    width: 95vw;


    /* height: 730px;
    width: 700px; */
    /* background-color: #f1ebe5; */
    background-color: #f8f2de;
    /* position: absolute; */
    /* left: 10px;
    top: 70px; */
    /* z-index: 1; */

    line-height: 1.5;
    /* position: absolute; */
    /* left: 20px;
    right: 700px;
    top: calc(80px + 13vh + 10px); */
    font-size: 18px;
    text-align: center;
    color: rgb(144, 131, 110);
    /* z-index: 3; */
    white-space: normal;
    /* margin: auto; */
}
mark {
    background-color: #e6ddd3;
    color: rgb(144, 131, 110);
}
.menuButtons {
    color: #edeae6;
    text-align: center;
    font-size: 16px; 
    background-color: #dd5353;
    border: none;
    width: 90px; 
    height: 80px;
    z-index: 102;
    position: absolute;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.menuButtons.home {
    top: 0px;
    right: 0px;
}
.menuButtons.about {
    top: 0px;
    right: 90px;
}
.menuButtons.contact {
    top: 0px;
    right: 180px;
}
.menuButtons.articles {
    top: 0px;
    right: 270px;
}